profile = default
version = 0.29.0
margin = 120
exp-grouping = parens
parens-ite = true
space-around-lists = false
indicate-multiline-delimiters = closing-on-separate-line
module-item-spacing = preserve
doc-comments = before
