# global things

*~
.#*
*.bak

*.native
*.byte

*.install

a.out
*.gch

_build/
_sbuild/

z3_problems

# bisect_ppx coverage

*.coverage
_coverage/

# HOL4

.HOLMK
.hollogs
*Theory.dat
*Theory.sig
*Theory.sml
*Theory.ui
*Theory.uo
lib/hol/sail-heap

# Coq

*.vo
*.vok
*.vos
*.glob
.*.aux
/lib/coq/.nia.cache
/lib/coq/deps

# Isabelle

/lib/isabelle/output

# location specific things

/doc/code_riscv
/doc/code_myreplicatebits

/src/sail.docdir
/src/ast.lem
/src/ast.ml
/src/jib.lem
/src/jib.ml
/src/manifest.ml

/test/__pycache__/
/test/sailtest.pyc
/test/typecheck/rtpass*/
/test/typecheck/tests.xml
/test/latex/out
/test/lem/*.thy
/test/lem/*.lem
/test/*/tests.xml
/test/riscv/tests/*.iout
/test/smt/*.out
/test/smt/*.smt2
/test/c/*.c
/test/c/*.h
/test/c/*.result
/test/c/*.err_result
/test/c/*.iresult
/test/c/*.oresult
/test/c/*.bin
/test/c/*_ocaml
/test/c/_sbuild*
/test/coq/.lia.cache
/test/coq/.nia.cache
/test/coq/out.v
/test/coq/out_types.v
/test/mono/Out_lemmas.thy
/test/mono/log
/test/mono/test.cmi
/test/mono/test.cmo
/test/mono/test-output
/test/sv/*.sv
/test/sv/*.out
/test/sv/*.result
/test/sv/*.cpp
/test/sv/obj_dir/

/language/*.pdf
/language/*.uo
/language/*.ui
/language/*.sig
/language/*.sml
/language/.HOLMK
/language/*.tex
/language/*.aux
/language/*.log
/language/*.dvi
/language/*.ps

/aarch64_small/ArmV8_lemmas.thy
/aarch64_small/armV8.lem
/aarch64_small/armV8.smt_model
/aarch64_small/armV8_types.lem

/aarch64/Aarch64.thy
/aarch64/Aarch64Auxiliary.thy
/aarch64/Aarch64_extras.thy
/aarch64/Aarch64_lemmas.thy
/aarch64/Aarch64_types.thy
/aarch64/aarch64.lem
/aarch64/aarch64_types.lem
/aarch64/z3_problems

/cheri/cheri
/cheri/cheri128

/power/power.lem
/power/power.ml
/power/power_embed.lem
/power/power_embed_sequential.lem
/power/power_embed_types.lem
/power/power_toFromInterp.lem

/x86/x86.lem
/x86/x86.ml
/x86/x86_embed.lem
/x86/x86_embed_sequential.lem
/x86/x86_embed_types.lem
/x86/x86_toFromInterp.lem
