# global things

*~
.#*
*.bak

*.native
*.byte

a.out

_build/
_sbuild/

# HOL4

.HOLMK
.hollogs
*Theory.dat
*Theory.sig
*Theory.sml
*Theory.ui
*Theory.uo
lib/hol/sail-heap

# Coq

*.vo
*.glob
.*.aux

# location specific things

/sail

/src/sail.docdir
/src/ast.lem
/src/ast.ml
/src/bytecode.lem
/src/bytecode.ml
/src/share_directory.ml

/test/typecheck/rtpass*/
/test/typecheck/tests.xml
/test/lem/Out_lemmas.thy
/test/lem/out.lem
/test/lem/out_types.lem
/test/*/tests.xml

/language/*.pdf
/language/*.uo
/language/*.ui
/language/*.sig
/language/*.sml
/language/.HOLMK
/language/*.tex
/language/*.aux
/language/*.log
/language/*.dvi
/language/*.ps

/aarch64/Aarch64.thy
/aarch64/Aarch64Auxiliary.thy
/aarch64/Aarch64_extras.thy
/aarch64/Aarch64_lemmas.thy
/aarch64/Aarch64_types.thy
/aarch64/aarch64.lem
/aarch64/aarch64_types.lem
/aarch64/z3_problems

/cheri/cheri
/cheri/cheri128

/power/power.lem
/power/power.ml
/power/power_embed.lem
/power/power_embed_sequential.lem
/power/power_embed_types.lem
/power/power_toFromInterp.lem

/x86/x86.lem
/x86/x86.ml
/x86/x86_embed.lem
/x86/x86_embed_sequential.lem
/x86/x86_embed_types.lem
/x86/x86_toFromInterp.lem
